body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/sunset.jpeg'); /* Adjust the path to your background image */
  background-size: cover; /* or 'contain', depending on your preference */
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  background-image: url('../assets/sunset.jpeg');
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}
.App input{
 padding: 0.3rem 2rem;
  margin-top: 4%;
  border-radius: 25px;
}